
@font-face{
    font-family: PocketMonk;
    src: url(PocketMonk-15ze.ttf);
}

@media screen and (max-width: 1023px){
    body{
        font-family: PocketMonk;
        color: white;
    }
    h1{
        color: green;
    }
    #big{
        font-size: 100px;
    }

}

@media screen and (min-width: 1024px){
    body{
        font-family: PocketMonk;
        color: white;
    }
    h1{
        color: red;
    }
    #big{
        font-size: 300px;
    }
}

.error{
    color:red;
}